@using MovieWebsite.Models.User;
@model IEnumerable<MovieWebsite.Models.User.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    var searchString = ViewBag.SearchString;
    var roleSelectList = ViewBag.RoleSelectList;
    var newUser = new UserInputModel();
    var message = ViewBag.Message;
}
<h1>
    User Roles
    <a class="btn btn-primary" role="button" aria-expanded="false" onclick="OpenModal()">Add a user</a>
</h1>
<partial name="_Message" model="message" />
<partial name="_Add" model="newUser" />
<form asp-action="Index" asp-controller="UserRoles" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <a asp-action="Index" role="button" class="btn btn-outline-secondary">Reset</a>
        </div>
        <input name="searchString" placeholder="Nhập tên hoặc email mà bạn muốn tìm" value="@searchString" class="form-control w-25">
        <select asp-items="roleSelectList" name="roleName" class="input-group-append">
            <option value="">All Roles</option>
        </select>
        <span class="input-group-btn">
            <button class="btn btn-info">Search</button>
        </span>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Email)</th>
            <th>@Html.DisplayNameFor(model=>model.UserName)</th>
            <th>@Html.DisplayNameFor(model=>model.Roles)</th>
            <th>@Html.DisplayNameFor(model=>model.EmailConfirm)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>@user.EmailConfirm</td>
                <td>
                    <div class="btn-group-vertical">
                        <a class="btn btn-info" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
                        <a class="btn btn-secondary" asp-action="SendConfirmedEmail" asp-route-userId="@user.UserId">Send Confirm Email</a>
                        @if (!user.EmailConfirm)
                        {
                            <a class="btn btn-success" asp-action="ActivateAccount" asp-route-userId="@user.UserId">Activate</a>
                        }
                        else
                        {
                            <a class="btn btn-danger" asp-action="DeActivateAccount" asp-route-userId="@user.UserId">Deactivate</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>